* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#main {
  background-color: azure;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: cadetblue;
  height: auto;
  width: 100%;
}
#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(7px);
  position: fixed;
  width: 100%;
  margin-top: 5px;
  border-radius: 40px;
}
#logo {
  margin-left: 10px;
}
#logoSpan {
  color: rgb(201, 50, 50);
  font-family: cursive;
}
#nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  margin-right: 20px;
}
#nav-links a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

#nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: rgb(248, 238, 104);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

#nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#nav-links a:hover {
  color: rgb(83, 224, 54);
}

#content {
  margin-top: 30px;
  padding: 20px;
  width: 100%;
}

#title {
  color: white;
  font-size: 35px;
  text-align: center;
}
#contentSpan {
  color: coral;
  font-family: cursive;
}
#description {
  color: white;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 20px;
}
#images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}
.image-box img {
  height: 200px;
  width: 250px;
}
#learn-more {
  text-align: center;
  margin-top: 30px;
  color: whitesmoke;
}
#learn-more h3 {
  font-size: x-large;
  text-decoration: line-through;
}
#learn-more ul li a {
  text-decoration: none;
  color: white;
  display: block;
}
/* #learn-more a {
  text-decoration: none;
}
#learn-more ul {
  text-decoration: none;
}
#learn-more li {
  text-decoration: none;
} */
#footer {
  background-color: white;
  padding: 20px;
  text-align: center;
  font: bold;
  font-weight: 600;
}
@media (max-width: 470px) {
  #nav {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  #images {
    display: flex;
    flex-direction: column;
  }
  #content {
    margin-top: 100px;
  }
}
