* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#main {
  background-color: cadetblue;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  margin-top: 5px;

  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(7px);

  position: fixed;
  width: 100%;
  border-radius: 40px;
}

#logo {
  margin-left: 10px;
}

#logoSpan {
  color: rgb(201, 50, 50);
  font-family: cursive;
}

#nav-links {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

#nav-links a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

#nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: rgb(248, 238, 104);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

#nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#nav-links a:hover {
  color: rgb(83, 224, 54);
}

#content {
  margin-top: 100px;
  padding: 20px;
}

#title {
  text-align: center;
  font-size: 35px;
  color: white;
}

#description {
  text-align: center;
  color: white;
  margin-top: 10px;
}

#wellness-tips {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tip-box {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.tip-box h4 {
  margin-bottom: 5px;
}

#quotes {
  margin-top: 30px;
  text-align: center;
  color: white;
  font-style: italic;
}

#footer {
  background-color: white;
  text-align: center;
  padding: 20px;
  font-weight: 600;
}

@media (max-width: 470px) {
  #nav {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  #content {
    margin-top: 140px;
  }

  #title {
    font-size: 26px;
  }
}
